
@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>

<div>
    First Name
    <input id="Name" name="Name" type="text" />
</div>

<div>
    Last Name
    <input id="Name" name="Name" type="text" />
</div>

<div>
    DOB
    <input id="Name" name="Name" type="text" />
</div>

<div>
    Yearly
    <input id="Name" name="Name" type="text" />
</div>